*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(wpd/homepage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #7df1f5;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.text-box h1{
    font-size: 53px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.hero-btn{
    display: inline-block;
    text-decoration:none;
    color: rgb(122, 122, 122);
    border: 1px solid rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #7dfbff;
    background: #a1fcff;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 10px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #7dfbff;
        height: 100px;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
} 
/*----- course -----*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}

p{
    color: #777;
    font-size: 30px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 15%;
    background: #cfffff;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10%;
    padding: 10px 12px;
    box-sizing: border-box;
    transition: 0.5s; 
}
h3{
    color: rgb(0, 0, 0);
    font: bolder;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    margin: 10px 0px;
}

.course-col:hover{
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}

/*---- campus ----*/
 
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    display: block;
    width: 550px;
    display: inline-block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 00.5s;
}
.layer:hover{
       background-color: #a1fcffa2;    
}
.layer h2{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h2{
    bottom: 49%;
    opacity: 1;
}



/*----- call to action-----*/

.cta{
     margin: 100px auto;
     width: 80%;
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(wpd/homepage.jpg);
     background-position: center;
     background-size: cover;
     border-radius: 10px;
     text-align: center;
     padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*---- Footer-----*/

.footer-text{
        width: 100%;
        text-align: center;
        padding:  10px 0;
        margin-bottom: 200px;
        
        margin:  10px 0;
        font-size: 20px;
        
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}
.icon .fa-brands{
padding-top: 100px;
color: #7fbec0;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
}

















